In [3]:
from essential_takehome.files import load_dataframes
datasets = load_dataframes()

2023-11-29 13:29:16.263 | INFO     | essential_takehome.files:load_dataframes:22 - Loaded file country_id_mapping.csv
2023-11-29 13:29:16.504 | INFO     | essential_takehome.files:load_dataframes:22 - Loaded file customer_data.csv
2023-11-29 13:29:17.113 | INFO     | essential_takehome.files:load_dataframes:22 - Loaded file session_clickstream_data.csv
2023-11-29 13:29:17.131 | INFO     | essential_takehome.files:load_dataframes:22 - Loaded file sku_data.csv

# Test Agent Output

In [4]:
import pandas as pd

# Step 1: Identify required datasets
session_clickstream_data = datasets['session_clickstream_data.csv']
customer_data = datasets['customer_data.csv']

# Step 1: Create a datetime object
session_clickstream_data['Date'] = pd.to_datetime(session_clickstream_data[['year', 'month', 'day']])

# Step 2: Get the Day of the Week
session_clickstream_data['day_of_week'] = session_clickstream_data['Date'].dt.day_name()

session_clickstream_data
# # Step 2: Merge required datasets
# merged_data = pd.merge(session_clickstream_data, customer_data, on='Customer ID')

# # Step 3: Filter data for weekends and holidays vs weekdays
# weekend_holiday_data = merged_data[(merged_data['day_of_week'].isin(['Saturday', 'Sunday'])) | (merged_data['is_holiday'] == True)]
# weekday_data = merged_data[(merged_data['day_of_week'].isin(['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'])) & (merged_data['is_holiday'] == False)]

# # Step 4: Calculate the number of products browsed before making a purchase
# weekend_holiday_browsing_count = weekend_holiday_data.groupby('Customer ID')['SKU ID'].nunique()
# weekday_browsing_count = weekday_data.groupby('Customer ID')['SKU ID'].nunique()

# # Step 5: Calculate the average browsing count
# result = pd.DataFrame({'Weekend_Holiday_Browsing_Count': weekend_holiday_browsing_count, 'Weekday_Browsing_Count': weekday_browsing_count}).mean()

# print(result)

,year,month,day,order,Country ID,session ID,SKU ID,Page Location,model photography,price,page,Review Rating,Customer ID,Purchased,Date,day_of_week
0,2008,4,1,1,29,1,A13,5,1,28,1,4,1,False,2008-04-01,Tuesday
1,2008,4,1,2,29,1,A16,6,1,33,1,4,1,False,2008-04-01,Tuesday
2,2008,4,1,3,29,1,B4,2,1,52,1,4,1,False,2008-04-01,Tuesday
3,2008,4,1,4,29,1,B17,6,2,38,1,4,1,False,2008-04-01,Tuesday
4,2008,4,1,5,29,1,B8,3,2,52,1,3,1,False,2008-04-01,Tuesday
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
165469,2008,8,13,1,29,24024,B10,4,1,67,1,1,24024,True,2008-08-13,Wednesday
165470,2008,8,13,1,9,24025,A11,4,1,62,1,3,24025,True,2008-08-13,Wednesday
165471,2008,8,13,1,34,24026,A2,1,1,43,1,3,24026,True,2008-08-13,Wednesday
165472,2008,8,13,2,34,24026,C2,1,1,43,1,4,24026,True,2008-08-13,Wednesday
165473,2008,8,13,3,34,24026,B2,1,2,57,1,1,24026,True,2008-08-13,Wednesday

# Manually Defined Output